* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: black;
}

.clearfix::after{
	content: "";
	display: block;
	clear: both;
}

main{
	width: 960px;
	margin:50px auto;
}

.list{
	margin-bottom:50px;
}

.box{
	padding:20px;
	list-style: none;
}

.box:nth-child(odd){
	background-color: grey;
}

.Box{
	background-color: yellow;
	width: 30%;
	height: 200px;
	float: left;
	margin-right: 5%;
	margin-bottom: 40px;
}

.Box:first-child,
.Box:last-child,
.Box:nth-child(5){
	background-color: orange;
}

.Box:nth-child(3n){
	margin-right: 0;
}

.Box:nth-last-child(-n+3){
	margin-bottom: 0;
}