* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #6c6b6b;
}


.clearfix::after{
	content: "";
	display: block;
	clear: both;
}

header{
	/*width: 840px;*/
	height: 400px;
	background-image: url(img/演習問題７img/mc.jpg);
	background-position: bottom;
	background-size: cover;
}

.kusa{
	padding: 20px 20px;
	font-weight: bold;

}

.main{
	width: 840px;
	padding: 50px 50px;
	margin:0 auto;
}

.box1{
	border-bottom: 1px solid #6c6b6b;
	padding-bottom: 30px;
}

.box2{
	border-bottom: 1px solid #6c6b6b;
	padding:30px 0;
}

.box3{
	border-bottom: 1px solid #6c6b6b;
	padding:30px 0;
}

.box4{
	border-bottom: 1px solid #6c6b6b;
	padding:30px 0;
}