* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

header{
	width: 100%;
	padding: 20px 0;
	margin: 0 auto;
	text-align: center;
}

.headline{
	font-size: 22px;
}

.nav{
	width: 100%;
	text-align: center;
	padding: 15px 0;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
}


.list-item{
	list-style: none;
	display: inline-block;
	margin: 0 20px;
}

.main{
	width: 800px;
	height: 600px;
	margin: 50px auto;
}


.usumidori{
	height: 200px;
	width:200px;
	background-color: #e6ffe9;
	float: left;
}

.sokosokomidori{
	height: 200px;
	width:200px;
	background-color: #cbffd3;
	float: left;
}

.midori{
	height: 200px;
	width:200px;
	background-color: #aeffbd;
	float: left;
}

.koimidori{
	height: 200px;
	width:200px;
	background-color: #93ffab;
	float: left;
}

.usukiiro{
	height: 200px;
	width:200px;
	background-color: #f3ffd8;
	float: left;
}

.sokosokokiiro{
	height: 200px;
	width:200px;
	background-color: #edffbe;
	float: left;
}

.kiiro{
	height: 200px;
	width:200px;
	background-color: #e9ffa5;
	float: left;
}

.koikiiro{
	height: 200px;
	width:200px;
	background-color: #e4ff8d;
	float: left;
}

.usuao{
	height: 200px;
	width:200px;
	background-color: #d9e5ff;
	float: left;
}

.sokosokoao{
	height: 200px;
	width:200px;
	background-color: #bad3ff;
	float: left;
}

.ao{
	height: 200px;
	width:200px;
	background-color: #a4c6ff;
	float: left;
}

.koiao{
	height: 200px;
	width:200px;
	background-color: #8eb8ff;
	float: left;
}

footer{
	width: 100%;
	height: 120px;
	background-color: #848282;
	text-align:center;
	line-height: 120px;
}

.footer-txt{
	color: #fff;
}